


.main-content-wrapper{
  position: relative;
  top:30px;
  max-width: 1500px;
  width: fit-content;
  margin: 0 auto;
}

.login-button-wrapper{
  width: 600px;
  height: 600px;
  padding: 20px;
}

/*^ Magic Stuff Here */

#login{
  cursor: pointer;
}

.login-magic-wrapper{
  --pos : 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  transform-origin: center; 
}

.square{
  position: absolute;
  top: var(--pos);
  left: var(--pos);
  width: 350px;
  height: 350px;
  border: 5px solid var(--magic-idle);
  border-radius: 15px;
}
.not-rotated{
  transition-duration: 3s;
  transition-timing-function: var(--magic-spin);
  
}

.rotated{
  transition-duration: 3s;
  transition-timing-function: var(--magic-spin);
  transform: rotate(45deg);
  z-index: 2;
}

.circle{
  position: absolute;
  top: var(--pos);
  left: var(--pos);
  width: 350px;
  height: 350px;
  border: 5px solid var(--magic-idle);
  border-radius: 50%;
  z-index: -5;
}
.center{
  border: 5px solid var(--magic-green);
  background: repeating-linear-gradient(
    0deg,
    var(--background-color),
    var(--background-color) 6px,
    var(--magic-green) 6px,
    var(--magic-green) 10px
  );
  z-index: 2;
  transition-duration: 2s;
}

.middle{
  --middle-offset:13px;
  top: calc(var(--pos) - var(--middle-offset));
  left: calc(var(--pos) - var(--middle-offset));
  width: 380px;
  height: 380px;
  border: 4px solid var(--magic-blue);
  transition-duration: 1.5s;
}
.smaller{
  --smaller-offset : 9px;
  width: 290px;
  height: 290px;
  border: 5px solid var(--magic-green);
  top: calc(var(--pos) + var(--smaller-offset));
  left: calc(var(--pos) + var(--smaller-offset));
  background: var(--background-color);
  transition-duration: 1s;
  transform-origin: 172px 172px;
  z-index: 3;
}
.bigger{
  --bigger-offset : 74px;
  position: absolute;
  top: calc(var(--pos) - var(--bigger-offset));
  left: calc(var(--pos) - var(--bigger-offset));
  width: 488px;
  height: 488px;
  border: 10px solid var(--magic-idle);
  border-radius: 50%;

  box-shadow: 0px 0px 0px 10px var(--background-color), 0px 0px 0px 13px var(--magic-idle);
  transition-duration: 2.5s;
}

.square-circle{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--magic-blue);
  z-index: -1;
  transition-duration: 2s;
}

.outwards{
  transform-origin: center;
}

.tl{
  top: 0;
  left: 0;
}
.tr{
  top: 0;
  right: 0;
}
.bl{
  bottom: 0;
  left: 0;
}
.br{
  bottom: 0;
  right: 0;
}

.core-circle{
  transform-origin: top left;
  transform: translate(100%, 100%);
  width: 25px;
  height: 25px;
  border: 4px solid var(--magic-blue);
  transition-duration: 1s;
}

.circle-text{
  font-family: var(--font-family-black-han-san);
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  z-index: 9;
}
.circle-reverse-text{
  font-family: var(--font-family-black-han-san);
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  z-index: 9;
}

.c-text{
  position: absolute;
  left: 0px;
  top: 0px;
  /*border:3px dotted blue;*/
  padding-top: 270px;
  font-size: 45px;
  transform-origin: top left;
  transform: rotate(calc(var(--i) * -8deg - 10deg));
  transition-duration: 2s;
  transition-timing-function: var(--magic-spin);
  text-shadow: 0px 5px var(--magic-idle);
}
.counter-text{
  position: absolute;
  left: -10px;
  bottom: 0px;
  /*border:3px dotted blue;*/
  height: 310px;
  transform-origin: bottom;
  transform: rotate(calc(var(--i) * 6deg - 105deg));
  transition-duration: 2s;
  transition-timing-function: var(--magic-spin);
  text-shadow: 0px -5px var(--magic-idle);
}


/*^ Magic Stuff Here END */
/*~ :hover rotate portion  */
#login:hover .not-rotated{
  transform: rotate(180deg);
  transition-duration: 3s;
  transition-timing-function: var(--magic-spin);
}

#login:hover .rotated{
  transform: rotate(-225deg);
  transition-duration: 3s;
  transition-timing-function: var(--magic-spin);
}

#login:hover .square{
  border: 5px solid var(--magic-yellow);
}

#login:hover .c-text{
  transform: rotate(calc(var(--i) * -8deg + 75deg));
  transition-duration: 2s;
  transition-timing-function: var(--magic-spin);
  text-shadow: 0px 5px var(--magic-blue);
}

#login:hover .counter-text{
  transform: rotate(calc(var(--i) * 6deg - 15deg));
  transition-duration: 2s;
  transition-timing-function: var(--magic-spin);
  text-shadow: 0px -5px var(--magic-blue);
}
#login:hover .core-circle{
  border: 4px solid var(--magic-orange);
}

#login:hover .smaller{
  transform: rotate(180deg);
  transition-duration: 1s;
  transition-timing-function: var(--magic-spin);
}

#login:hover .middle{
  border: 4px solid var(--magic-orange);
}

#login:hover .square-circle{
  border: 2px solid var(--magic-orange);
}

#login:hover .bigger{
  border: 10px solid var(--magic-yellow);

  box-shadow: 0px 0px 0px 10px var(--background-color), 0px 0px 0px 13px var(--magic-yellow);
}

/*~ :hover rotate portion END  */
/*? Login Text Stuff here*/

.login-text{
  position: relative;
  top: 0;
  left: 0;
  font-family: var(--font-family-black-han-san);
  font-weight: 100;
  font-size: 65px;
  margin: 0;
  text-shadow: -5px -5px var(--magic-blue);
  transition-duration: 1s;
}

#login:hover .login-text{
  text-shadow: 5px 5px var(--magic-orange);
}
.login-text-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.login{
  height: 70px;
  border-bottom: 8px solid var(--magic-blue);
  transition-duration: 1s;
}

#login:hover .login{
  border-bottom: 8px solid var(--magic-orange);
}

.register{
  font-size: 50px;
}



